@import "tailwindcss";

@layer base {
  *,
  ::before,
  ::after {
    border-style: solid;
  }

  button {
    cursor: pointer;
  }
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 2px currentColor;
  }
}

@font-face {
  font-family: "Orbitron";
  src: url("/fonts/Orbitron-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

:root {
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
}

@theme {
  --font-heading: "Orbitron", sans-serif;

  --color-light-background: rgba(3, 16, 32, 0.6);
  --color-card-background: rgba(3, 16, 20, 0.9);
  --color-cyber-cyan: rgba(62, 155, 185);
  --color-cyber-cyan-text: rgba(0, 200, 255);
  --color-cyan-text-light: rgba(147, 227, 250);
  --color-cyan-muted: rgba(166, 223, 238, 0.4);

  --text-description: 1.1875rem;
}

body {
  background-image: url("/img/background-large.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(1, 33, 56); /* background */
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 28, 41, 0.4);
  border-radius: 999px;
  border: 1px solid rgba(7, 205, 249, 0.862);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(4, 54, 69, 0.8);
  box-shadow: 0 0 6px rgba(5, 183, 237, 0.8);
}
