@import "tailwindcss";

@layer base {
  *,
  ::before,
  ::after {
    border-style: solid;
  }
}

:root {
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
}

@theme {
  --color-light-background: rgba(2, 17, 20, 0.65);
  --color-cyber-cyan: rgba(62, 155, 185);
  --color-cyber-cyan-text: rgba(96, 215, 250);
  --color-cyan-text-light: rgba(166, 223, 238);

  --text-description: 1.1875rem;
}

body {
  background-image: url("/img/background-large.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* getComputedStyle(document.querySelector("header")).borderBottomColor */
